<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title><%= Post.Title %></title>
    <link rel="stylesheet" href="/css/post.css">
</head>
<body>
    <h1><%= Post.Title %></h1>
    <% if (User.Username == Post.Author) { %>
        <a href="/posts/update/<%= Post._id %>" style="font-size: small; font-weight: lighter; color: darkgrey; margin: 0px;">Edit</a>
    <% } %>
    <h3>Description: </h3><p><%= Post.Description %></p>
    <br><br>
    <p><%= Post.Content.Text %></p>
</body>
</html>