<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>
        <% if (isMyProfile) { %>
            My Profile
        <% } else { %>
            Profile.Name
        <% } %>
    </title>
</head>
<body>
    <nav>
        <!-- Some navigation elements -->
    </nav>
    <main>
        <section id="user_info">
            <h1>Name: <%= Profile.Name %></h1>
            <h2>Email: <%= Profile.Email %></h2>
            <% if (isMyProfile) { %>
                <a href="/profile/update" style="font-size: small; font-weight: lighter; color: darkgrey; margin: 0px;">Edit Profile</a>
                <a href="/profile/logout" style="font-size: small; font-weight: lighter; color: darkgrey; margin: 0px;">Logout</a>

            <% } %>
            <p>Bio: <%= Profile.Bio %></p>
        </section>
        <hr>
        <section>
            <h3>Posts: <%= Stats.total %></h3>
            <h3>Average Likes: <%= Stats.avg %></h3>
            <h3>Max Likes: <%= Stats.max %></h3>
            <h3>Min Likes: <%= Stats.min %></h3>
            <h3>Total Likes: <%= Stats.totalLikes %></h3>
        </section>
        <hr>
        <section id="posts">
            <% for (i = 0; i < Posts.length; ++i) { %>
                <div class="post" onclick="location.assign('/posts/post/<%= Posts[i]._id %>')">
                    <h2 style="margin-bottom: 0px;"><%= Posts[i].Title %></h2>
                    <a href="/profile/user/<%= Posts[i].Author %>" style="font-size: small; font-weight: lighter; color: darkgrey; margin: 0px;">@<%= Posts[i].Author %></a>
                    <h5 style="font-size: small; font-weight: lighter; color: darkgrey; margin: 0px;">Created: <%= new Date(Posts[i].Created) %></h5>
                    <% if (Posts[i].Updated) { %>
                        <h5 style="font-size: small; font-weight: lighter; color: darkgrey; margin: 0px;">Updated: <%= new Date(Posts[i].Updated) %></h5>
                    <% } %>
                    <p><%= Posts[i].Description %></p>
                </div>
            <% } %>
        </section>
    </main>
</body>
</html>